@'
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.db-journal
*.sqlite3-journal
.DS_Store
Thumbs.db
*.log
.git/
.github/
.gitignore
docker-compose*
Dockerfile
.vscode/
.idea/
*.bak
*.tmp
test/
tests/
coverage/
htmlcov/
.tox/
.pytest_cache/
'@ | Out-File -FilePath ".dockerignore" -Encoding UTF8 -Force